<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}" />
  </head>
  <body>
    <header>
      <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
      <body-width>
        <picture>
          <source
            media="(prefers-color-scheme: dark)"
            srcset="/assets/images/Plenoptic_Logo_CMYK_Full_DarkMode_Wide.svg"
          />
          <source
            media="(prefers-color-scheme: light)"
            srcset="/assets/images/Plenoptic_Logo_CMYK_Full_Wide.svg"
          />
          <img
            alt="plenoptic logo"
            class="plenoptic-logo"
            src="/assets/images/Plenoptic_Logo_CMYK_Full_Wide.svg"
          />
        </picture>
      </body-width>
    </header>
    <main class="body-width">{{ content }}</main>
    <footer>
      <body-width>
        <picture>
          <source
            media="(prefers-color-scheme: dark)"
            srcset="/assets/images/03-FI-primary-logo-white.png"
          />
          <source
            media="(prefers-color-scheme: light)"
            srcset="/assets/images/01-FI-primary-logo-color.png"
          />
          <img
            alt="Flatiron Institute logo"
            class="flatiron-logo"
            src="/assets/images/01-FI-primary-logo-color.png"
          />
        </picture>
      </body-width>
    </footer>
  </body>
</html>
